/*******************************************/
/*******************CORES*******************/
/*******************************************/
/*** 1: rgba(232, 233, 243, 1) | #e8e9f3 ***/
/*** 2: rgba(206, 206, 206, 1) | #cecece ***/
/*** 3: rgba(166, 166, 168, 1) | #a6a6a8 ***/
/*** 4: rgba(39, 38, 53, 1)    | #272635 ***/
/*** 5: rgba(177, 229, 242, 1) | #b1e5f2 ***/
/*******************************************/
/*******************************************/
/*******************************************/
html{
	height: 100%;
}

body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: #E8E9F3;
	background-image: url("../img/dimension.png");
	height: 100%;
}

@media only screen and (max-width: 480px) {

	body{
		padding-top: 70px;
	}

}

button{
	outline-width: 0;
}

address{
	font-style: normal;
}

/*Menu*/

.menu{
	height: 300px;
	width: 100%;
	background-color: #272635;
	border-top: 3px solid #B1E5F2;
}

.menu .logo{
	width: 100%;
	height: 250px;
	display: flex;
}

.menu .logo > .img-logo{
	margin: auto;
	height: 100px;
	width: 100px;
	background-color: #FFF;
	border-radius: 50px;
	transition: border-width 0.1s ease-in-out;
}

.menu .logo > .img-logo:hover{
	border: 5px solid #B1E5F2;
	transition: border-width 0.1s ease-in-out;
}

.menu .menu-items{
	width: 100%;
	height: 47px;
	float: left;
}

.menu .menu-items > ul{
	list-style: none;
	padding: 0px;
	width: 100%;
	height: 50px;
	margin: 0px;
}

.menu .menu-items > ul > li.item{
	display: inline;
	line-height: 45px;
	height: 45px;
	padding: 10px 20px;
	color: #FFF;
	cursor: pointer;
	border-bottom: 0px solid #B1E5F2;
	text-transform: uppercase;
	transition: border-width 0.1s ease-in;
}

.menu .menu-items > ul > li.item:hover, .menu .menu-items > ul > li.item.active{
	color: #B1E5F2;
	border-bottom: 5px solid #B1E5F2;
	transition: border-width 0.1s ease-in-out;
}

.menu .menu-items > ul > li > a{
	height: 45px;
}

.menu .menu-items > ul > li.item-cart{
	display: inline;
	line-height: 45px;
	height: 45px;
	padding: 14px;
	color: #FFF;
	cursor: pointer;
	border-bottom: 0px solid #B1E5F2;
	text-transform: uppercase;
	transition: border-width 0.1s ease-in;
}

/*Mobile Styles*/
@media only screen and (max-width: 500px) {

	.menu-mobile {
		width: 100%;
		height: 70px;
		background-color: #272635;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 9999;
	}

	.menu-mobile > div.sides{
		width: 49.99%;
		height: 100%;
		float: left;
		align-items: center;
	}

	.menu-mobile > div > div.logo{
		width: 50px;
		height: 50px;
		margin: 10px;
		background-color: #FFF;
		border-radius: 25px;
		float: left;
	}

	.menu-mobile > div > div.cart{
		height: 50px;
		line-height: 50px;
		margin: 10px;
		float: left;
		color: #FFF;
	}

	.menu-mobile > div > div.btn-toggle{
		width: 50px;
		height: 50px;
		margin: 10px;
		background-color: rgba(0,0,0, 0.5);
		float: right;
		display: flex;
	}

	.menu-mobile > div > div.btn-toggle > i{
		margin: auto;
		color: #FFF;
	}

	.side-menu{
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: -100vw;
		z-index: 99999;
		overflow: hidden;
		transition: 1s;
	}

	.side-menu.active{
		left: 0px;
	}

	.side-menu-bg{
		width: 100%;
		height: 100vh;
		background-color: transparent;
	}

	.side-menu-content{
		width: 80vw;
		height: 100vh;
		background-color: #14131b;
		position: absolute;
		z-index: 999999;
		left: 0px;
		top: 0px;
	}

	.side-menu-content > ul{
		list-style: none;
		margin: 0px;
		width: 100%;
		padding: 0px;
	}

	.side-menu-content > ul > li.item:first-child{
		border-top: none;
	}

	.side-menu-content > ul > li.item{
		display: block;
		color: #FFF;
		padding: 25px;
		border-top: 1px solid #272635;
	}

}

/*Banner*/

#banner{
	background-color: #14131b;
}

#banner > ul{
	width: 100%;
	height: 250px;
	background-color: transparent;
	margin: 0px;
}

#banner > ul > li > div{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}


/*Products*/

.title-section{
	color: #272635;
	text-align: center;
	text-transform: uppercase;
	align-content: center;
}

.divider > div{
	height: 2px;
	width: 100px;
	background-color: #A6A6A8;
	margin-bottom: 20px;
}

.padding-grid{
	padding: 10px !important;
}

.box{
	width: 100%;
	background-color: #FFF;
	border: 2px solid transparent;
	-webkit-transition: 0.5s;
	-webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
	box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
}

.box:hover{
	border: 2px solid #272635;
}

.box img{
	width: 100%;
}

.box .details{
	padding: 5px;
	display: flex;
	height: 100px;
}

.box .details > h1{
	margin: auto;
	text-align: center;
	font-weight: 300;
}

.box .pricing-two{
	width: 100%;
	height: 50px;
}

.box .pricing-two > div{
	width: 49.99%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
}

.box .pricing-two > div:first-child{
	text-decoration: line-through;
	color: #CECECE;
}

.box .pricing-two > div:first-child::before{
	content: "Of:"
}

.box .pricing-two > div:last-child::before{
	content: "For:"
}

/*Mobile Styles*/
@media only screen and (max-width: 500px) {


}

/*Newsletter*/

.newsletter{
	width: 100%;
	background-color: #B1E5F2;
}

.newsletter .text{
	display: flex; 
	height: 75px;
	font-size: 1.3rem;
	font-weight: 300;
}

.newsletter .text > span{
	margin: auto;
	margin-right: 10px;
}

.newsletter .search-form{
	margin: auto;
	margin-left: 10px;
	width: 100%;
}

.newsletter .search-form > input{
	height: 50px;
	padding: 5px;
	width: 80%;
	font-size: 1.5rem;
	border: 2px solid #272635;
	background-color: #E8E9F3;
	background-image: url("../img/dimension.png");
	float: left;
}

.newsletter .search-form > input:focus{
	outline-width: 0;
}

.newsletter .search-form > button{
	width: 20%;
	height: 50px;
	background-color: #272635;
	float: left;
	border: none;
	color: #FFF;
}

/*Mobile Styles*/
@media screen and (max-width : 480px) {

	.newsletter .text > span, .newsletter .search-form{
		margin: auto !important;
		margin-right: auto !important;
	}

	.newsletter .text{
		font-size: 1rem;
	}

}

/*Buttons*/

.btn{
	border: 0px;
	background-color: #A6A6A8;
	color: #FFF;
	padding: 10px 20px;
	-webkit-transition: 0.5s;
	font-weight: 700;
	text-transform: uppercase;
}

.btn.btn-lg{
	font-size: 15px;
	padding: 15px 25px;
}

.btn.btn-block{
	width: 100%;
}

.btn.btn-primary{
	background-color: #272635 !important;
	color: #FFF;
}

.btn.btn-primary:hover{
	background-color: #B1E5F2 !important;
	color: #272635;
}

.btn.btn-primary.btn-outline{
	border: 2px solid transparent;
}

.btn.btn-primary.btn-outline:hover{
	border: 2px solid #272635;
}

/*Footer*/

footer{
	background-color: #272635;
	height: auto;
}

footer > .container{
	padding-top: 25px;
	padding-bottom: 25px;
}

footer .list > h3{
	color: #B1E5F2;
	font-size: 1.2rem;
	font-weight: normal;
}

footer .list > h4{
	color: #E8E9F3;
	font-size: 1.2rem;
	font-weight: normal;
}

footer ul{
	margin: 0px;
	padding: 0px;
}

footer ul > li{
	list-style: none;
	color: #E8E9F3;
	padding: 5px 0px;
	font-size: 0.9rem;
}

footer ul.payment > li{
	display: inline;
}

footer ul.payment > li > img{
	width: 32px;
	height: 32px;
	margin: 0 4px 4px 0;
}

footer address{
	color: #E8E9F3;
	font-size: 0.8rem;
	line-height: 1.5;
	font-weight: normal;
}

/*Mobile Styles*/
@media screen and (max-width : 480px) {

	footer > .container{
		padding: 25px;
	}

}