/*******************************************/
/*******************CORES*******************/
/*******************************************/
/*** 1: rgba(232, 233, 243, 1) | #e8e9f3 ***/
/*** 2: rgba(206, 206, 206, 1) | #cecece ***/
/*** 3: rgba(166, 166, 168, 1) | #a6a6a8 ***/
/*** 4: rgba(39, 38, 53, 1)    | #272635 ***/
/*** 5: rgba(177, 229, 242, 1) | #b1e5f2 ***/
/*******************************************/
/*******************************************/
/*******************************************/

:root{
	--colorSecond: #E63946;
	--colorDark: #272727;
	--colorGray: #e0e0e8;
};

html{
	height: 100%;
}

body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: #E8E9F3;
	background-image: url("../img/dimension.png");
	padding-top: 197px;
	padding-bottom: 240px;
	position: relative;
	min-height: 100%;
}

@media only screen and (max-width: 480px) {

	body{
		padding-top: 70px;
		padding-bottom: 490px;
	}

}

button{
	outline-width: 0;
}

address{
	font-style: normal;
}

/*Animation View*/

#view.ng-move,
#view.ng-enter,
#view.ng-leave {
	-webkit-transition:all linear 0.2s;
	transition:all linear 0.2s;
}

#view.ng-leave.ng-leave-active,
#view.ng-move,
#view.ng-enter {
	opacity:0;
}

#view.ng-leave,
#view.ng-move.ng-move-active,
#view.ng-enter.ng-enter-active {
	opacity:1;
}

/*Forms*/

form label{
	font-weight: 300;
	margin: 10px 0px;
	float: left;
}

input:not([type="submit"]){
	height: 50px;
	padding: 5px;
	font-size: 1.5rem;
	border: 2px solid black;
	background-color: #FFF;
	margin-bottom: 5px;
}

input.gray:not([type="submit"]){
	height: 50px;
	padding: 5px;
	font-size: 1.5rem;
	border: 2px solid var(--colorGray);
	background-color: #FFF;
	margin-bottom: 5px;
}

input:focus{
	outline-width: 0;
}

input.block{
	width: 100%;
}

/*Menu*/

.menu-top{
	height: 150px;
	width: 100%;
	border-top: 3px solid black;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
	background-color: var(--colorSecond);
	background-image: url("../img/dimension1.png"); 
	-webkit-box-shadow: 0px 2px 14px 1px rgba(10,10,10,1);
	-moz-box-shadow: 0px 2px 14px 1px rgba(10,10,10,1);
	box-shadow: 0px 2px 14px 1px rgba(10,10,10,1);
	display: flex;
}

.menu-sub{
	background-image: url('../img/dimension3.png'); 
	position: absolute; 
	top: 150px; 
	left: 0px; 
	width: 100%; 
	z-index: 8888;
	-webkit-box-shadow: 0px 5px 14px 1px rgba(33,33,33,0.44);
	-moz-box-shadow: 0px 5px 14px 1px rgba(33,33,33,0.44);
	box-shadow: 0px 5px 14px 1px rgba(33,33,33,0.44);
}

.menu-sub.fixed{
	position: fixed;
	top: 0px;
}

.menu-top .img-logo{
	margin: auto;
	height: 100px;
	width: 100px;
	background-color: #FFF;
	border-radius: 50px;
	transition: border-width 0.1s ease-in-out;
	display: flex;
}

.menu-top .img-logo > span{
	margin: auto;
}

.menu-sub .menu-items{
	width: 100%;
	height: 47px;
	float: left;
}

.menu-sub .menu-items > ul{
	list-style: none;
	padding: 0px;
	width: 100%;
	height: 50px;
	margin: 0px;
}

.menu-sub .menu-items > ul > li.item{
	display: inline;
	line-height: 45px;
	height: 45px;
	padding: 10px 20px;
	color: #FFF;
	cursor: pointer;
	border-bottom: 0px solid var(--colorSecond);
	text-transform: uppercase;
	transition: border-width 0.1s ease-in;
	font-weight: 300;
}

.menu-sub .menu-items > ul > li.item:hover, .menu-sub .menu-items > ul > li.item.active{
	color: #F1FAEE;
	border-bottom: 5px solid var(--colorSecond);
	transition: border-width 0.1s ease-in-out;
}

.menu-sub .menu-items > ul > li > a{
	height: 45px;
}

.menu-sub .menu-items > ul > li.menu-item-cart{
	display: inline;
	line-height: 45px;
	height: 45px;
	padding: 14px;
	color: #F1FAEE;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 400;
}

/*Mobile Styles*/
@media only screen and (max-width: 500px) {

	.menu-mobile {
		width: 100%;
		height: 70px;
		background-image: url("../img/dimension1.png");
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 9999;
		-webkit-box-shadow: 0px 5px 14px 1px rgba(33,33,33,0.44);
		-moz-box-shadow: 0px 5px 14px 1px rgba(33,33,33,0.44);
		box-shadow: 0px 5px 14px 1px rgba(33,33,33,0.44);
	}

	.menu-mobile > .menu-content div > div.logo{
		width: 50px;
		height: 50px;
		margin: 10px;
		background-color: #FFF;
		border-radius: 25px;
		float: left;
		display: flex;
	}

	.menu-mobile > .menu-content div > div.logo > span{
		margin: auto;
		font-size: 0.8rem;
	}

	.menu-mobile .cart{
		height: 50px;
		line-height: 50px;
		margin: 10px;
		float: left;
		color: #FFF;
	}

	.menu-mobile  div.btn-toggle{
		width: 50px;
		height: 50px;
		margin: 10px;
		background-image: url("../img/dimension3.png");
		float: right;
		display: flex;
	}

	.menu-mobile div.btn-toggle > i{
		margin: auto;
		color: #FFF;
	}

	.side-menu{
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: -100vw;
		z-index: 99999;
		overflow: hidden;
		transition: 0.5s;
	}

	.side-menu.active{
		left: 0px;
	}

	.side-menu-bg{
		width: 100%;
		height: 100vh;
		background-color: transparent;
	}

	.side-menu-content{
		width: 80vw;
		height: 100vh;
		background-image: url("../img/dimension3.png");
		position: absolute;
		z-index: 999999;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 4px 0px 15px -2px rgba(0,0,0,0.57);
		-moz-box-shadow: 4px 0px 15px -2px rgba(0,0,0,0.57);
		box-shadow: 4px 0px 15px -2px rgba(0,0,0,0.57);
	}

	.side-menu-content > ul{
		list-style: none;
		margin: 0px;
		width: 100%;
		padding: 0px;
	}

	.side-menu-content > ul > li.item:first-child{
		border-top: none;
	}

	.side-menu-content > ul > li.item{
		display: block;
		color: #F1FAEE;
		padding: 25px;
		border-top: 1px solid #212121;
		font-weight: 300;
		font-size: 1.2rem;
	}

}

/*Banner*/

#banner{
	background-image: url('../img/dimension3.png'); 
}

#banner > ul{
	width: 100%;
	height: 250px;
	background-color: transparent;
	margin: 0px;
}

#banner > ul > li > div{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}


/*Products*/

.title-section{
	color: black;
	text-align: center;
	text-transform: uppercase;
	align-content: center;
}

.divider > div{
	height: 2px;
	width: 100px;
	background-color: var(--colorSecond);
	margin-bottom: 20px;
}

.padding-grid{
	padding: 10px !important;
}

.box{
	width: 100%;
	background-color: #FFF;
	border: 2px solid transparent;
	-webkit-transition: 0.5s;
	-webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
	box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
}

.box:hover{
	border: 2px solid black;
}

.box img{
	width: 100%;
}

.box .details{
	padding: 5px;
	display: flex;
	height: 100px;
}

.box .details > h1{
	margin: auto;
	text-align: center;
	font-weight: 300;
	font-size: 1.2rem;
}

.box .pricing-two{
	width: 100%;
	height: 50px;
}

.box .pricing-two > div{
	width: 49.99%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
}

.box .pricing-two > div:first-child{
	text-decoration: line-through;
	color: #CECECE;
}

.box .pricing-two > div:first-child::before{
	content: "Of:"
}

.box .pricing-two > div:last-child::before{
	content: "For:"
}

.box .pricing-two > div:last-child{
	font-size: 1.2rem;
}

.product.ng-move,
.product.ng-enter,
.product.ng-leave {
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.2s;
}

.product.ng-leave.ng-leave-active,
.product.ng-move,
.product.ng-enter {
	opacity:0;
}

.product.ng-leave,
.product.ng-move.ng-move-active,
.product.ng-enter.ng-enter-active {
	opacity:1;
}

/*Mobile Styles*/
@media screen and (max-width: 500px) {

	.box .btn.btn-primary{
		padding: 20px !important;
	}

}

/*Categorys*/

.box-categories{
	background-color: #FFF; 
	height: 150px; 
	display: flex;
	border: 2px solid transparent;
	-webkit-transition: 0.5s;
	-webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
	box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.43);
}

.box-categories:hover{
	border: 2px solid black;
}

.box-categories > h2{
	margin: auto; 
	font-weight: 300;
	text-transform: uppercase;
}

/*Mobile Styles*/
@media screen and (max-width: 500px) {

	.box-categories{
		height: 75px; 
	}

}

/*Newsletter*/

.newsletter{
	width: 100%;
	background-image: url("../img/dimension1.png");
}

.newsletter .text{
	display: flex; 
	height: 75px;
	font-size: 1.3rem;
	font-weight: 300;
}

.newsletter .text > span{
	margin: auto;
	margin-right: 10px;
	color: #FFF;
}

.newsletter .search-form{
	margin: auto;
	margin-left: 10px;
	width: 100%;
}

.newsletter .search-form > input{
	height: 50px;
	padding: 5px;
	width: 80%;
	font-size: 1.5rem;
	border: 2px solid black;
	background-color: #E8E9F3;
	background-image: url("../img/dimension.png");
	float: left;
}

.newsletter .search-form > input:focus{
	outline-width: 0;
}

.newsletter .search-form > button{
	width: 20%;
	height: 50px;
	background-color: black;
	float: left;
	border: none;
	color: #FFF;
}

/*Mobile Styles*/
@media screen and (max-width : 480px) {

	.newsletter .text > span, .newsletter .search-form{
		margin: auto !important;
		margin-right: auto !important;
	}

	.newsletter .text{
		font-size: 1rem;
	}

}

/*Buttons*/

.btn{
	border: 0px;
	background-color: #A6A6A8;
	color: #FFF;
	padding: 10px 20px;
	-webkit-transition: 0.5s;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

.btn.btn-lg{
	font-size: 15px;
	padding: 15px 25px;
}

.btn.btn-block{
	width: 100%;
}

.btn.btn-primary{
	background-color: black !important;
	color: #FFF;
}

.btn.btn-primary:hover,.btn.btn-primary.active{
	background-color: var(--colorSecond) !important;
}

.btn.btn-primary[disabled="disabled"]{
	background-color: rgba(0,0,0,0.8) !important;
	cursor: not-allowed;
}

.btn.btn-primary.btn-outline{
	border: 2px solid transparent;
}

.btn.btn-primary.btn-outline:hover{
	border: 2px solid black;
}

/*Footer*/

footer{
	background-image: url('../img/dimension3.png');
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

footer > .container{
	padding-top: 25px;
	padding-bottom: 45px;
}

footer .list > h3{
	color: var(--colorSecond);
	font-size: 1.2rem;
	font-weight: normal;
}

footer .list > h4{
	color: #E8E9F3;
	font-size: 1.2rem;
	font-weight: normal;
}

footer ul{
	margin: 0px;
	padding: 0px;
}

footer ul > li{
	list-style: none;
	color: #E8E9F3;
	padding: 5px 0px;
	font-size: 0.9rem;
}

footer ul.payment > li{
	display: inline;
}

footer ul.payment > li > img{
	width: 32px;
	height: 32px;
	margin: 0 4px 4px 0;
}

footer address{
	color: #E8E9F3;
	font-size: 0.8rem;
	line-height: 1.5;
	font-weight: normal;
}

/*Mobile Styles*/
@media screen and (max-width : 480px) {

	footer > .container{
		padding: 25px;
		padding-bottom: 25px;
	}

}

/*Pagination*/

.pagination{
	width: 100%;
}

/*Cart*/

.item-cart{
	height: 100px;
	background-color: #FFF; 
	padding: 5px;
	border-bottom: 1px solid var(--colorGray);
}

.item-cart:last-child{
	border-bottom: 0px;
}

.item-cart-grid{
	height: 100%;
	display: flex;
}

.item-cart-grid img{
	height: 100%;
}

.item-cart-grid p{
	margin: auto; 
	margin-left: 0px;
}

/*Footer*/

.item-footer{
	height: 100px;
	background-color: #FFF; 
	padding: 5px;
	border-bottom: 1px solid var(--colorGray);
}

.item-footer:last-child{
	border-bottom: 0px;
}

.item-footer-grid{
	height: 100%;
	display: flex;
}

.item-footer-grid img{
	height: 100%;
}

.item-footer-grid p{
	margin: auto;
	margin-left: 0px;
}

.item-footer-grid:first-child p{
	margin-left: auto;
	margin-right: 0px;
}

.item-footer-grid:first-child p > input{
	margin-left: 10px;
	width: 150px;
}

/*Mobile Styles*/
@media(max-width : 480px) {

	.item-cart{
		height: auto;
		width: 100%;
		float: left;
	}

	.item-cart-grid{
		width: 100%;
		height: 50px;
		float: left;
		text-align: center;
		display: flex;
	}

	.item-cart-grid img{
		height: 100%;
		padding-bottom: 5px;
	}

	.item-cart-grid:nth-child(2){
		width: 100%;
		height: 200px;
		float: left;
		text-align: center;
		display: block;
	}

	.item-cart-grid p{
		margin: auto;
		font-weight: 700;
	}

	/*Footer*/

	.item-footer{
		height: auto;
		width: 100%;
		float: left;
	}

	.item-footer-grid{
		width: 100%;
		height: 70px;
		float: left;
		text-align: center;
		display: flex;
	}

	.item-footer-grid img{
		height: 100%;
		padding-bottom: 5px;
	}

	.item-footer-grid p{
		margin: auto;
		padding: 10px 0px;
	}

	.item-footer .total-cost{
		font-size: 1.1rem;
		font-weight: 700;
	}

	.item-footer-grid:first-child p > input{
		margin-left: auto;
		width: 100%;
	}

}
