<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/grid.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="css/angular-carousel.css">
	<title>Loja Template</title>
</head>
<body ng-controller="appController as app">

	<nav class="menu hidden-xs">
		<div class="container">
			
			<div class="logo">

				<span class="img-logo"></span>

			</div>

			<div class="menu-items" align="center">
				
				<ul>
					<li class="item active">
						<a>Menu 1</a>
					</li>
					<li class="item">
						<a>Menu 2</a>
					</li>
					<li class="item">
						<a>Menu 3</a>
					</li>
					<li class="item">
						<a>Menu 4</a>
					</li>
					<li class="item-cart">
						<a>MY ACCOUNT</a>
					</li>
					<li class="item-cart">
						<a>Cart (0)</a>
					</li>
				</ul>

			</div>

		</div>
	</nav>

	<nav class="menu-mobile visible-xs" ng-controller="menuController">

		<div class="sides">
			<div class="logo"></div>
			<div class="cart">CART (0)</div>
		</div>
		<div class="sides">
			<div class="btn-toggle" ng-click="toggleMenu()">
				<i class="mdi mdi-menu mdi-24px"></i>
			</div>
		</div>

		<div class="side-menu" ng-class="{'active': menu}">

			<div class="side-menu-bg" ng-click="toggleMenu()"></div>

			<div class="side-menu-content">


				
				<ul>
					<li class="item active">
						<a>Menu 1</a>
					</li>
					<li class="item">
						<a>Menu 2</a>
					</li>
					<li class="item">
						<a>Menu 3</a>
					</li>
					<li class="item">
						<a>Menu 4</a>
					</li>
				</ul>

			</div>
			
		</div>
		
	</nav>

	<div class="container">

		
		<section id="banner">

			<ul rn-carousel rn-carousel-auto-slide="8" class="image">
				<li ng-repeat="image in slides">
					<div style="background-image: url('img/{{image}}.jpg');"></div>
				</li>
			</ul>

		</section>

		<section id="featured">

			<h2 class="title-section">Featured</h2>

			<div class="divider" align="center">
				<div></div>
			</div>

			<!-- Products -->

			<div class="products">

				<div class="col-lg-25 col-md-50 col-sm-50 padding-grid" ng-repeat="product in featured">

					<div class="box">

						<img ng-src="img/product-{{$index + 1}}.jpg">

						<div class="details">
							<h1>{{product.title}}</h1>
						</div>
						<div class="pricing-two">
							<div>
								<span>$</span>110,00
							</div>
							<div>
								<span>$</span>99,90
							</div>
						</div>

						<button class="btn btn-block btn-primary" type="button">BUY!</button>

					</div>

				</div>

			</div>

		</section>

		<div style="width: 100%; margin: 50px 0px; float: left; text-align: center;">

			<button class="btn btn-primary btn-lg btn-outline" type="button">See More...</button>

		</div>

	</div>

	<!-- Newsletter -->

	<div class="newsletter">

		<div class="container">

			<div class="col-md-50 col-sm-50 text">

				<span>ENTER YOUR EMAIL <strong>TO RECEIVE OFFER!</strong></span>

			</div>

			<div class="col-md-50 col-sm-50" style="display: flex; height: 75px;">

				<div class="search-form">
					<input type="text"></input>
					<button type="button">OK</button>
				</div>

			</div>

		</div>

	</div>

	<footer>

		<div class="container">

			<div class="col-md-25 list">

				<h3>Contact</h3>

				<h4><i class="mdi mdi-phone-classic"></i> 0800 000 000</h4>
				<address>
					Opening Hours:<br>Monday to Friday 7:30 AM to 9:30 PM<br>Saturdays 08:00 AM to 08:00 PM
				</address>

			</div>

			<div class="col-md-25 list">

				<h3>Help</h3>
				<ul>
					<li><i class="mdi mdi-chevron-right"></i>Delivery times</li>
					<li><i class="mdi mdi-chevron-right"></i>Privacy policy</li>
					<li><i class="mdi mdi-chevron-right"></i>Exchanges and Returns</li>
					<li><i class="mdi mdi-chevron-right"></i>Terms and conditions of use</li>
				</ul>

			</div>

			<div class="col-md-25 hidden-xs list">

				<h3>Map</h3>
				<ul>
					<li><i class="mdi mdi-chevron-right"></i>Menu 1</li>
					<li><i class="mdi mdi-chevron-right"></i>Menu 2</li>
					<li><i class="mdi mdi-chevron-right"></i>Menu 3</li>
					<li><i class="mdi mdi-chevron-right"></i>Menu 4</li>
				</ul>

			</div>

			<div class="col-md-25 list">

				<h3>Payment methods</h3>
				<ul class="payment">
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-visa.png">
					</li>
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-mastercard.png">
					</li>
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-american-express.png">
					</li>
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-dinners.png">
					</li>
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-paypal.png">
					</li>
				</ul>

			</div>

		</div>

	</footer>

</body>
<script src="lib/angularjs/angular.min.js"></script>
<script src="lib/angularjs/angular-route.min.js"></script>
<script src="lib/angularjs/angular-touch.js"></script>
<script src="lib/angularjs/angular-carousel.js"></script>
<script src="js/app.js"></script>
</html>