<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/grid.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="css/angular-carousel.css">
	<title>Loja Template</title>
</head>
<body ng-controller="appController as app">

	<div ng-controller="menuController">
		<nav class="hidden-xs" >

			<div class="menu-top">
				<div class="img-logo">
					<span>LOGO</span>
				</div>
			</div>

			<div class="container-fluid menu-sub" ng-class="{'fixed': menuFixed > 150 }">
				<div class="menu-items" align="center">

					<ul>
						<li ng-repeat="item in menuItems" ng-class="navClass('{{item.Title}}')" class="item" ng-click="go(item.Title)">
							<a>{{item.LinkText}}</a>
						</li>
						<li class="item-cart" ng-click="go('myaccount')">
							<a>My Account</a>
						</li>
						<li class="item-cart">
							<ngcart-summary></ngcart-summary>
						</li>
					</ul>

				</div>
			</div>

		</nav>

		<nav class="menu-mobile visible-xs">

			<div class="sides">
				<div class="logo">
					<span>LOGO</span>
				</div>
				<div class="cart">
					<ngcart-summary></ngcart-summary>
				</div>
			</div>
			<div class="sides">
				<div class="btn-toggle" ng-click="toggleMenu()">
					<i class="mdi mdi-menu mdi-24px"></i>
				</div>
			</div>

			<div class="side-menu" ng-class="{'active': menu}">

				<div class="side-menu-bg" ng-click="toggleMenu()"></div>

				<div class="side-menu-content">

					<div style="padding: 10px;">
						<button class="btn btn-primary btn-lg btn-block active" ng-click="go('myaccount')">My Account</button>
					</div>

					<ul>
						<li ng-repeat="item in menuItems" ng-class="navClass('{{item.Title}}')" class="item" ng-click="go(item.Title)">
							<a>{{item.LinkText}}</a>
						</li>
					</ul>

				</div>

			</div>

		</nav>
	</div>

	<div style="width: 100%;" id="view" ng-view></div>

	<footer>

		<div class="container">

			<div class="col-md-25 list">

				<h3>Contact</h3>

				<h4><i class="mdi mdi-phone-classic"></i> 0800 000 000</h4>
				<address>
					Opening Hours:<br>Monday to Friday 7:30 AM to 9:30 PM<br>Saturdays 08:00 AM to 08:00 PM
				</address>

			</div>

			<div class="col-md-25 list">

				<h3>Help</h3>
				<ul>
					<li><i class="mdi mdi-chevron-right"></i>Delivery times</li>
					<li><i class="mdi mdi-chevron-right"></i>Privacy policy</li>
					<li><i class="mdi mdi-chevron-right"></i>Exchanges and Returns</li>
					<li><i class="mdi mdi-chevron-right"></i>Terms and conditions of use</li>
				</ul>

			</div>

			<div class="col-md-25 hidden-xs list">

				<h3>Map</h3>
				<ul>
					<li><i class="mdi mdi-chevron-right"></i>Menu 1</li>
					<li><i class="mdi mdi-chevron-right"></i>Menu 2</li>
					<li><i class="mdi mdi-chevron-right"></i>Menu 3</li>
					<li><i class="mdi mdi-chevron-right"></i>Menu 4</li>
				</ul>

			</div>

			<div class="col-md-25 list">

				<h3>Payment methods</h3>
				<ul class="payment">
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-visa.png">
					</li>
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-mastercard.png">
					</li>
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-american-express.png">
					</li>
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-dinners.png">
					</li>
					<li>
						<img src="http://www.extra-imagens.com.br/App_Themes/Extra/img/icons/ic-paypal.png">
					</li>
				</ul>

			</div>

		</div>

	</footer>

</body>
<script src="lib/angularjs/angular.min.js"></script>
<script src="lib/angularjs/angular-route.min.js"></script>
<script src="lib/angularjs/angular-touch.js"></script>
<script src="lib/angularjs/angular-carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/snapjay/ngCart/0.0.3-rc.2/dist/ngCart.js"></script>
<script type="text/javascript" src="app/pages/filtros/dirPagination.js"></script>
<script src="js/app.js"></script>
<script src="app/router.config.js"></script>
<script src="app/pages/controllers/mensCategorieController.js"></script>
<script src="app/pages/controllers/mensCategoriesController.js"></script>
<script src="app/pages/controllers/myaccountController.js"></script>
</html>