<div class="container" style="padding-bottom: 20px;">

	<section id="categories">

		<h2 class="title-section">{{titlePage}}</h2>

		<div class="divider" align="center">
			<div></div>
		</div>

		<div class="col-md-33 padding-grid" ng-repeat="product in products | filter:{gender: gender} | unique:'categoryName'">
			
			<div class="box-categories" ng-click="go( product.gender + '/categories/list'); setFilter(product.gender,product.category);">

				<h2>{{product.categoryName}}</h2>

			</div>

		</div>

	</section>

</div>