<div class="container">

	<section id="mens">

		<h2 class="title-section">{{filtered[0].categoryName}}</h2>

		<div class="divider" align="center">
			<div></div>
		</div>

		<div class="col-md-100">

			<div class="products">

				<div class="col-lg-25 col-md-50 col-sm-50 padding-grid product" dir-paginate="product in products | filter:{gender: filterGender, category: filterCategory} | itemsPerPage: 8 | filter:query as filtered">

					<div class="box">

						<!-- <img src="http://i1.adis.ws/i/boohooamplience/mzz75964_sand_xl?$category_page$&w=500&h=500"> -->

						<div style="max-width: 100%; height: 250px; overflow: hidden; position: relative;">
							
							<img style="position: absolute;  left: 50%;  top: 50%;  height: 100%;  width: auto;  -webkit-transform: translate(-50%,-50%);      -ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);" ng-src="{{product.imgThumbnail || 'img/thumbnail-placelholder.png'}}">

						</div>

						<div class="details">
							<h1>{{product.title}}</h1>
						</div>
						<div class="pricing-two">
							<div>
								{{product.of | currency }}
							</div>
							<div>
								{{product.price | currency }}
							</div>
						</div>

						<ngcart-addtocart style="width: 100%;" id="{{product.title}}" name="{{product.title}}" price="{{product.price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>

					</div>

				</div>

			</div>

			<div style="width: 100%; margin: 25px 0px; float: left; text-align: center;">

				<dir-pagination-controls boundary-links="true" max-size="4" on-page-change="pageChangeHandler(newPageNumber); scrollTop();" template-url="app/pages/layout/dirPagination.tpl.html"></dir-pagination-controls>
				
			</div>

		</div>

	</section>

</div>