<div class="container">

	<section id="banner">

		<ul rn-carousel rn-carousel-auto-slide="8" class="image">
			<li>
				<div style="background-image: url('img/slide-placelholder.png'); background-position: center; right; background-size: cover;"></div>
			</li>
			<li>
				<div style="background-image: url('img/slide-placelholder.png');"></div>
			</li>
			<li>
				<div style="background-image: url('img/slide-placelholder.png');"></div>
			</li>
			<li>
				<div style="background-image: url('img/slide-placelholder.png');"></div>
			</li>
		</ul>

	</section>

	<section id="featured">

		<h2 class="title-section">Featured</h2>

		<div class="divider" align="center">
			<div></div>
		</div>

		<!-- Products -->

		<div class="products">

			<div class="col-lg-25 col-md-50 col-sm-50 padding-grid product" ng-repeat="product in products | limitTo: limitShow">

				<div class="box">

					<div ng-click="openProduct(product.id)">

						<div style="max-width: 100%; height: 250px; overflow: hidden; position: relative;">

							<img style="position: absolute; left: 50%; top: 50%; height: 100%;  width: auto; -webkit-transform: translate(-50%,-50%);      -ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);" ng-src="{{product.imgThumbnail || 'img/thumbnail-placelholder.png'}}">

						</div>

						<div class="details">
							<h1>{{product.title}}</h1>
						</div>
						<div class="pricing-two">
							<div>
								{{product.of | currency }}
							</div>
							<div>
								{{product.price | currency }}
							</div>
						</div>

					</div>

					<ngcart-addtocart style="width: 100%;" id="{{product.id}}" name="{{product.title}}" price="{{product.price}}" quantity="1" quantity-max="5" data="{'image': product.imgThumbnail}">Add to Cart</ngcart-addtocart>


				</div>

			</div>

		</div>

	</section>

	<div style="width: 100%; margin: 50px 0px; float: left; text-align: center;">

		<button class="btn btn-primary btn-lg btn-outline" type="button" ng-click="limitShow = limitShow + 4" ng-hide="limitShow >= products.length">See More...</button>

	</div>

</div>

<div ng-include="'app/pages/components/newsletter.html'"></div>