<div class="container">

	<section id="mens">

		<h2 class="title-section">Mens</h2>

		<div class="divider" align="center">
			<div></div>
		</div>

		<div class="col-md-100">

			<div class="products">

				<div class="col-lg-25 col-md-50 col-sm-50 padding-grid product" ng-repeat="product in featured | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit | filter:{gender:'M'} | filter:query as filtered">

					<div class="box">

						<img src="img/thumbnail-placelholder.png">

						<div class="details">
							<h1>{{product.title}}</h1>
						</div>
						<div class="pricing-two">
							<div>
								<span>$</span>110,00
							</div>
							<div>
								<span>$</span>99,90
							</div>
						</div>

						<button class="btn btn-block btn-primary" type="button">BUY!</button>

					</div>

				</div>

			</div>

			<div style="width: 100%; margin: 25px 0px; float: left; text-align: center;">

				<button ng-click="currentPage = currentPage - 1" class="btn btn-primary" ng-disabled="currentPage == 1;">Prev</button>
				<button ng-click="toPage(page)" ng-class="{'active': currentPage == page}" class="btn btn-primary" ng-repeat="page in pagination track by $index">{{page}}</button>
				<button ng-click="currentPage = currentPage + 1" class="btn btn-primary" ng-disabled="currentPage == noOfPages;">Prox</button>
				
			</div>

		</div>

	</section>

</div>