<div class="container">

	<section id="mens">

		<h2 class="title-section">My Account</h2>

		<div class="divider" align="center">
			<div></div>
		</div>

		<div class="col-md-50 col-md-offset-25 col-xs-100 padding-grid">

			<form>
				<label>E-mail</label>
				<input class="block gray effect-red" type="text" name="email"/>
				<label>Password</label>
				<input class="block gray effect-red" type="password" name="password"/>
				<input style="float: right;" type="submit" class="btn btn-primary btn-lg btn-block" value="enter"/>
			</form>	

		</div>

		<div class="col-md-50 col-md-offset-25 col-xs-100 padding-grid">
			
			<div style="width: 100%; height: 150px; display: flex;">
				<button style="margin: auto;" type="button" class="btn btn-primary btn-lg">Sign up</button>	
			</div>

		</div>

	</section>

</div>